 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 300px;
  box-shadow: 0px 0px 40px 10px rgba(127,239,114,1);
  margin: 150px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}