 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-video-1 {
  --radius: 30px;
  width: 807px;
  min-height: 338px;
  height: auto;
  box-shadow: 0px 0px 40px 20px rgba(60,204,44,1);
  margin: 110px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 23px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }
}