 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #c60028, #000000);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-image-1 {
  width: 373px;
  height: 148px;
  margin: 56px auto 0;
}

.u-section-1 .u-group-1 {
  width: 363px;
  min-height: 528px;
  box-shadow: 0px 0px 15px 8px rgba(241,197,14,0.5);
  height: auto;
  margin: -8px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 358px;
}

.u-section-1 .u-image-3 {
  width: 358px;
  height: 250px;
  margin: 351px auto -75px;
}

.u-section-1 .u-image-4 {
  width: 361px;
  height: 122px;
  margin: -18px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    height: 148px;
    margin-top: 392px;
    margin-bottom: -14px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 135px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 140px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 115px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #000000, #c60028);
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 381px;
}

.u-section-2 .u-group-1 {
  width: 442px;
  min-height: 300px;
  height: auto;
  box-shadow: 0px 0px 15px 8px rgba(241,197,14,0.5);
  margin: 41px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 442px;
  height: 300px;
  margin: -1px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-video-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-2 .u-group-1 {
    min-height: 245px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 231px;
    margin: 0;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #c60028, #000000);
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 43px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 84px;
  }
}